.header {
	background-color: rgb(120, 233, 212);

	height: 70px;


	display: flex;
	align-items: center;

	.link {
		text-decoration: none;

		div {
			h1 {
				
				margin-left: 0.5em;
				color: rgb(113, 112, 198);
				font-family: Cinzel, Helvetica, sans-serif;
				text-decoration: none;
				margin-bottom: 0;
			}
		}
	}
	img{
		width:100px;

	}
}
